
<title>SOS PET</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
    #menu a {
        color: #FFF;
        background-color: #252525;
        text-decoration: none;
        border-bottom: transparent solid 1px;
        padding-bottom: 5px;
    }

    #menu a:hover {
        color: #FFF;
        background-color: #252525;
        border-bottom: #00ff00 solid 1px;
    }

    .jumbotron.header{
        background-color: green; 
        color: white; 
        background-image: linear-gradient(green, #003300);
    }
</style>

<div class="jumbotron header text-center">
    <h1>SOS PET</h1>
    <p>Nos ajude a salvar mais Pets!</p> 
</div>
<div class="text-right mr-4">
    <a href="/logout/">Sair</a> 
</div>
<div id="menu">
    <ul class="nav ml-4">
        <li class="nav-item">
            <a class="nav-link" href="/pet/all/">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pet/user/">Meus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pet/register/">Cadastrar</a>
        </li>
    </ul>
</div>
<br>

